body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh;
    background: url('Photos/HomePage.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits color from parent */
}

.main-image {
    width: 100%;
    max-width: 100%;
    padding-left: 10%;
    margin: -200px;
    margin-bottom: -200px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.container {
    padding-right: 3%;
    text-align: center;
}


.card {
    background: #1a1d3a9c;
    border-radius: 20px;
    padding: 100px;
    width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.theme-options {
    margin: 15px 0;
}

.theme-options button {
    background: #444;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.theme-options button:hover {
    background: #666;
}

.play-now {
    background: linear-gradient(90deg, #ff5f5f, #ff2a2a);
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.play-now:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(255, 0, 0, 0.5);
}



